<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Team Introduction Page</title>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
<script src="https://cdn.tailwindcss.com"></script>
<style>
	body{
    background-image: url('/image/logo_background.png');
    background-position: center;
	}
  .profile-card {
    width: 200px; /* 3 cells wide */
    height: 380px; /* 3 cells tall */
    margin: 30px;
  }
  .profile-image {
  	background-image: url("../image/Us.png");
    width: 100%;
    height: 250px; /* 2 cells tall */
  }
  .profile-content {
    padding: 16px;
  }
  nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}
.login-btn{
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 400;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: pink;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}
a:hover {
	color: pink;
}

</style>
</head>
<body>
        <nav>
<a href="/main/mainIndex" class="text-gray-800 text-xl font-bold hover:text-gray-700" >
            <img alt="이미지" src="../image/logo.png" 
                width="85" height="100" class="rounded-full"></a>
            <ul>    
                <li><a href="/employee/aboutUs">About Us</a></li>
                <li><a href="/employee/manual">이용 매뉴얼</a></li>
                <li><a href="/board/freeBoardList">자유게시판</a></li>
            </ul>
            <div>

		{{^memId}}
                <a href="/client/loginForm" class="login-btn">로그인</a>
                <a href="/client/writeForm" class="btn">회원가입</a>
		{{/memId}}
		{{#memId}}
			<a href="/client/logout" class="btn">로그아웃</a>
		{{/memId}}
            </div>
        </nav>
<div class="container mx-auto px-10 py-8">
  <div class="grid grid-cols-3 gap-4">
    <!-- Profile Card 1 -->
    <div class="profile-card bg-white shadow rounded">
      <div class="profile-image"></div>
      <div class="profile-content">
        <h2 class="text-lg font-semibold">이름 : 오동규 </h2>
      </div>
    </div>
  </div>
</div>
</body>
</html>